<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:component="urn:jsptagdir:/WEB-INF/tags/component" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
     xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8" />
    <jsp:output omit-xml-declaration="yes" />
    <spring:message var="app_name" code="application_name" htmlEscape="false" />
    <spring:message var="title"    code="welcome_titlepane" arguments="${app_name}" htmlEscape="false" />

    <spring:url value="${urls.getForLookupPath('/resources/scripts/app/qrcode/viewAs.js')}"        var="viewAs_js" />
    <script type="text/javascript"  src="${viewAs_js}" ><!-- required for FF3 and Opera --></script>

    <spring:url value="/resources/styles/bootstrap.min.css" var="bootstrap_css_url" />
    <link rel="stylesheet" type="text/css" href="${bootstrap_css_url}" />

    <spring:url value="/resources/images/checked.png" var="checked"/>

    <script type="text/javascript">
        <![CDATA[

            var $ARROW_RIGHT = '${arrow_right}'
            var $actionUser = '${userName}';
            var $qrCode = '${qrcode}';

        ]]>
    </script>



<body>
                <!--<div style=" color: greenyellow;   margin-left: 40%; padding: 20px 30px; border: 5px solid #000000; display:inline-block;   margin-top: 20%; font-weight: bold; font-size: 60px;">SUCCESS!!</div>-->
            <div class="well" id="ribbon" style="margin-left: 50px; margin-right: 50px; margin-top: 50px; ">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-white-perl" style="margin-top: 0px;margin-bottom: 10px">
                            <div class="panel-heading collapseLightBlue" id="collapseDOMESTIC" role="button" data-toggle="collapse" data-parent="#accordion"
                                 href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <!--<img src="${travel}" width="30px"/>&#160;-->
                                <label class="collapsed" style="cursor: pointer; color:#ffffff;font-size: 40px; font-weight: 900;">Reject &#160;  Request</label>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
                                <div class="panel-body panel-white-perl">
                                    <form class="form-horizontal">


                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group" style="margin-bottom: 0">
                                                    <label class="col-xs-12 col-sm-12" style=" font-weight: 900;   padding-top:5px;font-size: 40px; text-align: center">Status  :  Success</label>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12" style="text-align: center">
                                             <img width="100px"  style="margin-top: 20px;"  src="${checked}" />

                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
           </div>




</body>

</div>
