<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:component="urn:jsptagdir:/WEB-INF/tags/component" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
     xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8" />
    <jsp:output omit-xml-declaration="yes" />
    <spring:message var="app_name" code="application_name" htmlEscape="false" />
    <spring:message var="title"    code="welcome_titlepane" arguments="${app_name}" htmlEscape="false" />
    <!-- Load Internal CSS  -->
    <spring:url value="/resources/styles/tablegray.css" var="table_gray" />

    <link rel="stylesheet" type="text/css" href="${table_gray}"/>


    <!-- Load JS  -->
    <spring:url value="${urls.getForLookupPath('/resources/scripts/report/documentStatusSummaryReport.js')}"        var="documentStatusSummaryReport" />

    <script type="text/javascript"  src="${documentStatusSummaryReport}" ><!-- required for FF3 and Opera --></script>

    <!-- Initial I18N -->
    <c:set scope="request" var="LABEL_DOCUMENT_STATUS_SUMMARY_REPORT"><spring:message code="LABEL_DOCUMENT_STATUS_SUMMARY_REPORT"/></c:set>
    <c:set scope="request" var="LABEL_START_DATE"><spring:message code="LABEL_START_DATE"/></c:set>
    <c:set scope="request" var="LABEL_END_DATE"><spring:message code="LABEL_END_DATE"/></c:set>
    <c:set scope="request" var="MESSAGE_PLACEHOLDER_EXPENSE_DATE"><spring:message code="MESSAGE_PLACEHOLDER_EXPENSE_DATE"/></c:set>

    <c:set scope="request" var="LABEL_WARNING"><spring:message code="LABEL_WARNING"/></c:set>
    <c:set scope="request" var="LABEL_DANGER"><spring:message code="LABEL_DANGER"/></c:set>
    <c:set scope="request" var="LABEL_ACTION"><spring:message code="LABEL_ACTION"/></c:set>
    <c:set scope="request" var="LABEL_ACTIVE_FLAG"><spring:message code="LABEL_ACTIVE_FLAG"/></c:set>
    <c:set scope="request" var="BUTTON_CLOSE"><spring:message code="BUTTON_CLOSE"/></c:set>
    <c:set scope="request" var="MESSAGE_REQUIRE_FIELD"><spring:message code="MESSAGE_REQUIRE_FIELD"/></c:set>

    <spring:url value="/resources/images/cancel.png"  var="img_cancel" />
    <spring:url value="/resources/images/checked.png" var="img_checked" />
    <spring:url value="/resources/images/xls.png"  var="img_xls" />



    <script type="text/javascript">
        <![CDATA[


        var $IMAGE_CHECKED    = '${img_checked}';
        var $IMAGE_CANCEL     = '${img_cancel}';
        var $CRITERIA_PAGE    = '${criteria_page}';

        var LB = {};
        LB.LABEL_START_DATE        = '${LABEL_START_DATE}';
        LB.LABEL_END_DATE          = '${LABEL_END_DATE}';

        var MSG = {};
        MSG.MESSAGE_REQUIRE_FIELD        = '${MESSAGE_REQUIRE_FIELD}';


        ]]>
    </script>



    <style>

        .mainfirst_container{
            padding-top: 10px;
        }

        .panel-title{
            font-size: 30px;
        }

        .panel-white-perl {
            background-color: #f1f3f0;
        }



        #searchwrapper form { display:inline ; }



    </style>
    <div class="container mainfirst_container"  >
        <div class="row ">
            <div class="col-sm-12 ">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="panel panel-white-perl">
                            <div class="panel-heading "  style="background-color: #f1f3f0; " >
                                <h3 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        ${LABEL_DOCUMENT_STATUS_SUMMARY_REPORT}
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
                                <div class="panel-body panel-white-perl">
                                    <div class="row">
                                        <div class="col-xs-12" style="margin-bottom: 15px;padding-left: 0;padding-right: 0">
                                            <label class="col-xs-4 col-sm-2 col-sm-offset-1" style="padding-top:5px;font-size: 14px;"><b>${LABEL_START_DATE}</b></label>
                                            <div class="has-info" style="margin-top: 0;padding-left: 10px;padding-right: 10px;margin-bottom: 0">
                                                <div class="col-xs-8 col-md-8" style="padding-right: 10px">
                                                    <div class="input-group">
                                                        <input class="form-control border" id="startDate" placeholder="${MESSAGE_PLACEHOLDER_EXPENSE_DATE}" type="text" style="color: #03a9f4"/>
                                                        <span class="input-group-addon"><a id="imageCalendar1"><i class="fa fa-calendar fa-2x" style="color: #00bfff"><jsp:text/></i></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12" style="margin-bottom: 15px;padding-left: 0;padding-right: 0">
                                            <label class="col-xs-4 col-sm-2 col-sm-offset-1" style="padding-top:5px;font-size: 14px;"><b>${LABEL_END_DATE}</b></label>
                                            <div class="has-info" style="margin-top: 0;padding-left: 10px;padding-right: 10px;margin-bottom: 0">
                                                <div class="col-xs-8 col-md-8" style="padding-right: 10px">
                                                    <div class="input-group">
                                                        <input class="form-control border" id="endDate" placeholder="${MESSAGE_PLACEHOLDER_EXPENSE_DATE}" type="text" style="color: #03a9f4"/>
                                                        <span class="input-group-addon"><a id="imageCalendar2"><i class="fa fa-calendar fa-2x" style="color: #00bfff"><jsp:text/></i></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 text-center" style="top: 13px;">
                                            <a onclick="downloadReportCUS001()"><img src="${img_xls }" style="width: 60px;height: 60px;margin-bottom: 10px;" /></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div><!-- div .container -->

    <div class="modal fade" id="warningModal" tabindex="-1" role="dialog" style="z-index: 1060">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: rgba(255, 226, 0, 0.94);" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  aria-hidden="true" class="fa fa-remove"><jsp:text/></span></button>
                    <h3 class="modal-title">${LABEL_WARNING } <span class="fa fa-warning"><jsp:text/></span></h3>
                </div>
                <div class="modal-body" style="font-size:20px;font-weight:bold;">
                    <jsp:text/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">${BUTTON_CLOSE } <span  aria-hidden="true" class="fa fa-remove"><jsp:text/></span></button>
                </div>
            </div>
        </div>
    </div>



</div>