<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:component="urn:jsptagdir:/WEB-INF/tags/component" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
     xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8" />
    <jsp:output omit-xml-declaration="yes" />
    <spring:message var="app_name" code="application_name" htmlEscape="false" />
    <spring:message var="title"    code="welcome_titlepane" arguments="${app_name}" htmlEscape="false" />


    <spring:url value="/resources/images/menu.png" var="menu" />
    <spring:url value="/resources/images/pencil.png" var="pencil" />
    <spring:url value="/resources/images/search.png" var="search" />
    <spring:url value="/resources/images/icon-approve/tick.png" var="tick" />
    <spring:url value="/resources/images/icon-approve/cancel-2.png"  var="img_cancel" />
    <spring:url value="/resources/images/icon-approve/advance-ducument.png"  var="img_advance_doc" />
    <spring:url value="/resources/images/icon-approve/approve-document.png"  var="img_approve_doc" />

    <spring:url value="${urls.getForLookupPath('/resources/scripts/app/requestStatusReport/requestStatusReport.js')}"        var="myRequest" />

    <script type="text/javascript"  src="${myRequest}" ><!-- required for FF3 and Opera --></script>

    <script type="text/javascript">
        <![CDATA[


        var $IMAGE_CHECKED    = '${img_checked}';
        var $IMAGE_CANCEL     = '${img_cancel}';
        var $CRITERIA_PAGE    = '${criteria_page}';

        ]]>
    </script>

    <style>
        .tr-active {
            background-color: rgba(0, 188, 212, 0.37);
        }

        .mainfirst_container{
            padding-top: 10px;
        }

        .panel-title{
            font-size: 30px;
        }

        .panel-white-perl {
            background-color: #f1f3f0;
        }

        #searchwrapper {
            width:100%; /*follow your image's size*/
            height:40px;/*follow your image's size*/
            background-color:#009688;
            background-repeat:no-repeat; /*important*/
            padding:0px;
            margin:0px;
            position:relative; /*important*/
            bottom: 5px;
        }

        #searchwrapper form { display:inline ; }

        .searchbox {
            border:0px; /*important*/
            background-color:transparent; /*important*/
            position:absolute; /*important*/
            top:4px;
            left:9px;
            width:100%;
            height:28px;
            color:#000000;
        }

        .searchbox_submit {
            border:0px; /*important*/
            background-color:transparent; /*important*/
            position:absolute; /*important*/
            top:4px;
            right:10px;
            width:32px;
            height:28px;
        }

        .searchbox::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color:    #ffffff;
        }
        .searchbox:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:    #ffffff;
            opacity:  1;
        }
        .searchbox::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:    #ffffff;
            opacity:  1;
        }
        .searchbox:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color:    #ffffff;
        }
    </style>

    <a href="javascript:void(0)" onclick="companyReport();"><b>${LABEL_NEXT}</b>&#160;
        <img src="${img_approve_doc}" width="40px" style="top:100px; left:60px; position: absolute"/>
    </a>

    <a href="javascript:void(0)" onclick="timeReport();"><b>${LABEL_NEXT}</b>&#160;
        <img src="${img_advance_doc}" width="40px" style="top:150px; left:60px; position: absolute"/>
    </a>

    <!--<img src="${img_approve_doc}" width="40px" style="top:100px; left:60px; position: absolute"/>&#160;<b>${BUTTON_OK}</b>-->
    <!--<img src="${img_advance_doc}" width="40px" style="top:150px; left:60px; position: absolute"/>&#160;<b>${BUTTON_OK}</b>-->
    <!--<img src="${pencil}" width="40px" style="top:200px; left:60px; position: absolute;"/>&#160;<b>${BUTTON_OK}</b>-->

    <div class="container mainfirst_container">

        <h1>Request Status Report</h1>
        <div class="panel" id="company">
            <div class="panel-heading" style="background-color: #00d0ff; color: white; font-size: 20px;" >
                <div id="panelH">แสดงแยกตามบริษัท</div>
            </div>
            <div class="panel-body" >
                <div class="text-center" id="chart" style="width: 900px; height: 500px"></div>
            </div>
        </div>

        <!--<div class="panel" id="time">-->
            <!--<div class="panel-heading" style="background-color: #00d0ff; color: white; font-size: 20px;" >-->
                <!--<div id="p"-->
            <!--</div>-->
            <!--<div class="panel-body" >-->
                <!--<div id="chart" style="width: 900px; height: 500px"></div>-->
            <!--</div>-->
        <!--</div>-->

    </div>

</div>