<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:component="urn:jsptagdir:/WEB-INF/tags/component" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
     xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8" />
    <jsp:output omit-xml-declaration="yes" />
    <spring:message var="app_name" code="application_name" htmlEscape="false" />
    <spring:message var="title"    code="welcome_titlepane" arguments="${app_name}" htmlEscape="false" />


    <spring:url value="/resources/styles/bootstrap.min.css" var="bootstrap_css_url" />
    <link rel="stylesheet" type="text/css" href="${bootstrap_css_url}" />

    <spring:url value="/resources/images/arrow_right.png" var="arrow_right"/>


    <spring:url value="${urls.getForLookupPath('/resources/scripts/app/preViewFile/preViewFile.js')}"        var="preViewFile" />
    <script type="text/javascript"  src="${preViewFile}" ><!-- required for FF3 and Opera --></script>

    <script type="text/javascript">
        <![CDATA[


            var IMG_SRC = '${imageInByte}';

        ]]>
    </script>
<style>
    .ok{

    }

    html {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .container-mp{
        background-color: white;
    }
</style>
<body style="background-color: white">
<div class="container" style="background-color: white">


    <div class="row">
        <div class="col-md-12" style="text-align:center;" id="contentFilePreview">
            <h2 class="ok hide" id="text64">Test</h2>
            <img id="img64" class="center img-responsive hide" src="data:image/png;base64,${imageInByte}" />
        </div>
    </div>



</div>
</body>






</div>
