<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:component="urn:jsptagdir:/WEB-INF/tags/component" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
     xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
  <jsp:directive.page contentType="text/html;charset=UTF-8" />
  <jsp:output omit-xml-declaration="yes" />
  <spring:message var="app_name" code="application_name" htmlEscape="false" />
  <spring:message var="title"    code="welcome_titlepane" arguments="${app_name}" htmlEscape="false" />
  <!-- Load Internal CSS  -->
  <spring:url value="/resources/styles/tablegray.css" var="table_gray" />
  
  <link rel="stylesheet" type="text/css" href="${table_gray}"/>
  
  
  <!-- Load JS  -->
  <spring:url value="${urls.getForLookupPath('/resources/scripts/general/masterData/masterDataConfig-common.js')}"        var="masterDataConfig_common_js" />
		
  <script type="text/javascript"  src="${masterDataConfig_common_js}" ><!-- required for FF3 and Opera --></script>
  
  <c:set scope="request" var="MESSAGE_REQUIRE_FIELD"><spring:message code="MESSAGE_REQUIRE_FIELD"/></c:set>
  <c:set scope="request" var="MESSAGE_HAS_DUPLICATE"><spring:message code="MESSAGE_HAS_DUPLICATE"/></c:set>
  <c:set scope="request" var="MESSAGE_DATA_REFERANCE"><spring:message code="MESSAGE_DATA_REFERANCE"/></c:set>
  
  
  
  <!-- Initial I18N -->
  <c:set scope="request" var="LABEL_MASTER_DATA"><spring:message code="LABEL_MASTER_DATA"/></c:set>
  <c:set scope="request" var="LABEL_LIST_OF_DATA"><spring:message code="LABEL_LIST_OF_DATA"/></c:set>
   <c:set scope="request" var="LABEL_NAME"><spring:message code="LABEL_NAME"/></c:set>
  <c:set scope="request" var="LABEL_CODE"><spring:message code="LABEL_CODE"/></c:set>
  <c:set scope="request" var="LABEL_DESCRIPTION"><spring:message code="LABEL_DESCRIPTION"/></c:set>
  <c:set scope="request" var="LABEL_ORG_CODE"><spring:message code="LABEL_ORG_CODE"/></c:set>
  <c:set scope="request" var="LABEL_NAME_CODE"><spring:message code="LABEL_NAME_CODE"/></c:set>
  <c:set scope="request" var="LABEL_USE_ORG"><spring:message code="LABEL_USE_ORG"/></c:set>
  
  
  
  
  
  
  <c:set scope="request" var="LABEL_WARNING"><spring:message code="LABEL_WARNING"/></c:set>
  <c:set scope="request" var="LABEL_DANGER"><spring:message code="LABEL_DANGER"/></c:set>
  <c:set scope="request" var="LABEL_ACTION"><spring:message code="LABEL_ACTION"/></c:set>
  <c:set scope="request" var="LABEL_ACTIVE_FLAG"><spring:message code="LABEL_ACTIVE_FLAG"/></c:set>

  <spring:url value="/resources/images/cancel.png"  var="img_cancel" />
  <spring:url value="/resources/images/checked.png" var="img_checked" />
  
  <script type="text/javascript">
        <![CDATA[
                 
        var $MESSAGE_REQUIRE               = '${MESSAGE_REQUIRE_FIELD}';

        var $LABEL_NAME                    = '${LABEL_NAME}';
        var $LABEL_CODE                    = '${LABEL_CODE}';
        var $LABEL_NAME_CODE               = '${LABEL_NAME_CODE}';
        var $LABEL_DESCRIPTION             = '${LABEL_DESCRIPTION}';
        
        
        
        var $MESSAGE_HAS_DUPLICATE         = '${MESSAGE_HAS_DUPLICATE} ${LABEL_CODE}';
        var $MESSAGE_DATA_REFERANCE        = '${MESSAGE_DATA_REFERANCE}';
        
        

        var $IMAGE_CHECKED    = '${img_checked}';
        var $IMAGE_CANCEL     = '${img_cancel}';
        var $CRITERIA_PAGE    = '${criteria_page}';
        

        ]]>
  </script>


  
  
  
  <style>
  	.tr-active {
            background-color: rgba(0, 188, 212, 0.37);
        }
        .divtable { 
            /*width: 500px;  */
            overflow-x:scroll;  
            margin-left:752px; 
            overflow-y:visible;
            padding-bottom:1px;
        }
        .headcol {
            position:absolute; 
            /*width:20em; */
            left:0;
            top:auto;
            border-right: 0px none black; 
            border-top-width:3px; /*only relevant for first row*/
            margin-top:-3px; /*compensate for top border*/
        }
        
        .colHeadFix {
        	left:0;
            top:auto;
            position:absolute; 
            border-right: 0px none black; 
	        margin-top: 0px !important;
	        margin-left:15px !important;
	        padding-top: 32px !important;
	        background-color: #6b6b6d !important;
	        height: 61px !important;
	        padding-bottom: 2px !important;
        }
        
        .tdFix {
		    height: 43px !important;
		    left: 15px ;
		    background-color: #ffffff !important;
		    margin-top: 0px ;
		    border-top-width: 1px ;
		    padding-top: 4px  !important;
		    padding-bottom: 2px ;
        }
        
        .tdFixGrey {
		    height: 43px !important;
		    left: 15px ;
		    background-color: #f2f2f2 !important;
		    margin-top: 0px ;
		    border-top-width: 1px ;
		    padding-top: 4px  !important;
		    padding-bottom: 2px ;
        }
        
        .navigator {
            height:40px;
            right: 0;
            position: fixed;
            z-index: 1000;
            min-width: 40px;
            padding-left: 10px;
            padding-right: 10px;
            /*color: #ffffff;*/
            width: 50px;

            -webkit-border-top-left-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -moz-border-radius-bottomleft: 4px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            /*font-size: 0.5em;*/
        }
        .navigator:hover{ color: #ffffff; }
        
                
    
        .mainfirst_container{
			padding-top: 30px;
		}  
		.panel-title{
			font-size: 30px;
		}
		.panel-title > a {
			color: #5fbf02;
		}
		
		.panel-white-perl {
			background-color: #f1f3f0;
		}
    
  </style>
  <div class="row">
  	<a style=" top: 55px; right: 0; background-color: #2896f3; color: black" class="btn navigator no-radius btn-raised" id="nav_save">
  		<span class="fa fa-floppy-o fa-2x"></span>
  	</a>
 </div>
 <div class="container mainfirst_container"  >
  	<div class="row ">
  		<div class="col-sm-12 ">
  		<div class="row">
            <div class="col-sm-12">
                <div class="panel  panel-white-perl">
                    <div class="panel-heading"  style="background-color: #f1f3f0; " >
	                    <div class="row">
				  			<div class="col-sm-3" style="padding-left: 10px;padding-right: 2px;" >
				  				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="color: #009688;font-size: 36px;margin-bottom: 40px;">
	                                ${LABEL_MASTER_DATA }
	                            </a>
				  			</div>
				  			<div class="col-sm-5" >
				  			    <input type="hidden"    id="edit_name" /> 
				  				<select class="form-control" id="masterDataSelected" style="color: #2196f3;" >
					            	<jsp:text />
					            </select>
				  			</div>
			                <div class="col-sm-4" style="top: 13px;">
								<button id="add_button" type="button" class="btn btn-lg" style="float: right;box-shadow: 5px 5px 5px #060606;border-radius: 60px;width: 60px;height: 60px;padding-left: 20px;padding-right: 20px;margin-top: -20;margin-top: 0px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;position: relative;left: 0px;background-color: rgb(95, 191, 2);top: -10;bottom: 0px;top: 0px;"><span class="fa fa-plus" style="font-size: 24px;color: rgba(14, 12, 12, 0.84);"></span></button>
							</div>
				  		</div>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
                        <div class="panel-body  panel-white-perl" style="padding-top: 0px;">
                            <form class="form-horizontal">
                            	<div class="row">
                            			<div class="col-sm-6" >
			                        	 	<div class="form-group">
			                        	 		<input type="hidden"    id="edit_id" /> 
						                        <input type="hidden"    id="edit_createdBy" /> 
						                        <input type="hidden"    id="edit_createdDate" /> 
						                        <input type="hidden"    id="edit_updateBy" /> 
						                        <input type="hidden"    id="edit_updateDate" />
						                        <input type="hidden"    id="edit_nameMessageCode" />
						                        
						                        
						                        
					                        	<div class="control-label col-sm-4" style="padding-right: 0px; width: 105px;">
					                        		<label style="color: #404044;font-size: 15px;">${LABEL_CODE } :</label>
					                        	</div>
					                        	<div class="col-sm-8"  >
					                        	     <label style="margin-top: 7px;color: #2196f3;font-size: 15px;" id="edit_code" >-</label>
					                        	</div>
					                        </div>
			                        	 </div>
                            	</div>
                            	<div class="row">
                            			<div class="col-sm-6" >
			                        	 	<div class="form-group">
					                        	<div class="control-label col-sm-4" style="padding-right: 0px; width: 105px;padding-left: 10px;">
					                        		<label style="color: #404044;font-size: 15px;">${LABEL_DESCRIPTION } :</label>
					                        	</div>
					                        	<div class="col-sm-8"  >
					                        	     <label style="margin-top: 7px;color: #2196f3;font-size: 15px;"  id="edit_description" >-</label>
					                        	</div>
					                        </div>
			                        	 </div>
                            	</div>
                            </form>
                        </div> 
                    </div>
                    <div class="table-responsive" id="gridMainHead" >
                    	<table class="table" style="table-layout:fixed;">
                                <thead class="trgray"  >
                                    <tr  id="gridHeader" >
                                        <th class="text-center"  style="width: 50px;">USE</th>
                                        <th class="text-center"  style="width: 50px;">NO</th>
                                        <th class="text-center " style="width: 260px;">VARIABLE NAME</th>
                                        <th class="text-center " style="width: 100px;">TYPE</th>
                                        <th class="text-center " style="width: 100px;">REQUIRED</th>
                                        <th class="text-center"  style="width: 300px;">DEFAULT VALUE</th>
                                    </tr>
                                </thead>
                                <tbody id="gridMainBody">
                                </tbody>
                     	</table>
                    </div>
                </div>
                
	            <div class="form-group">
		           <util:pagingutil id="paggingSearchMain"/>
		        </div>
	        
            </div>
        </div>
  		</div>
  		
  	</div>
  	
  </div><!-- div .container -->
  
 


	  
</div>