<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:component="urn:jsptagdir:/WEB-INF/tags/component" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
     xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
  <jsp:directive.page contentType="text/html;charset=UTF-8" />
  <jsp:output omit-xml-declaration="yes" />
  <style>
  	.textAuto::-webkit-input-placeholder {
	    color: blue;
	}
	.textAuto:-moz-placeholder {
	    color: blue;
	
	}
	.textAuto::-moz-placeholder {
	    color: blue;
	
	}
	
	.checkbox input[type=checkbox]:checked+.checkbox-material .check, .checkbox-default input[type=checkbox]:checked+.checkbox-material .check {
	    color: #238ee3;
	}
	.checkbox input[type=checkbox]:checked+.checkbox-material .check:before, .checkbox-default input[type=checkbox]:checked+.checkbox-material .check:before {
	    color: #2684cf;
	}
	.checkbox input[type=checkbox]:checked+.checkbox-material .check:after, .checkbox-default input[type=checkbox]:checked+.checkbox-material .check:after {
	    background-color: #2684cf;
	}
  </style>
  
  <spring:url value="/resources/images/person-icon.png" var="img_person" />
  
  <spring:url value="/resources/styles/material-datetimepicker.css" var="datetimepicker_css_url" />
    <link rel="stylesheet" type="text/css" href="${datetimepicker_css_url}" />
    <spring:url value="/resources/styles/material-icons.css" var="material_icons_css_url" />
    <link rel="stylesheet" type="text/css" href="${material_icons_css_url}" />
    <spring:url value="/resources/scripts/material-datetimepicker.js" var="datetimepickerjs_url" />
    <script src="${datetimepickerjs_url}" type="text/javascript"><!-- required for FF3 and Opera --></script>
  
  <!-- Initial I18N -->
  <c:set scope="request" var="BUTTON_CLOSE"><spring:message code="BUTTON_CLOSE"/></c:set>
  <c:set scope="request" var="BUTTON_SAVE"><spring:message code="BUTTON_SAVE"/></c:set>
  <c:set scope="request" var="BUTTON_CANCEL"><spring:message code="BUTTON_CANCEL"/></c:set>
  <c:set scope="request" var="BUTTON_CONFIRM"><spring:message code="BUTTON_CONFIRM"/></c:set>
  
  
  
  
  

  <c:set scope="request" var="MESSAGE_CONFIRM_TO_DELETE"><spring:message code="MESSAGE_CONFIRM_TO_DELETE"/></c:set>
  
  <script type="text/javascript">
        <![CDATA[
                 
        var $CONST_IMAGE_PERSON = '${img_person}';

        ]]>
  </script>
  
  <!-- Modal -->
<div class="modal fade bs-example-modal-md" id="editItemModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content" >
      <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  aria-hidden="true" class="fa fa-remove"><jsp:text/></span></button>
        <h3 class="modal-title" >${LABEL_MASTER_DATA } </h3>
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-sm-10" id="contentEdit" >
        				<input type="hidden"    id="modal_edit_id" /> 
                        <input type="hidden"    id="modal_edit_createdBy" /> 
                        <input type="hidden"    id="modal_edit_createdDate" /> 
                        <input type="hidden"    id="modal_edit_updateBy" /> 
                        <input type="hidden"    id="modal_edit_updateDate" />
        	
                        <div class="form-group">
                        	<div class="control-label col-sm-3" style="top: 13px;">
                        		<label style="color: #2196f3;">${LABEL_ACTIVE_FLAG } </label>
                        	</div>
                        	<div class="col-sm-3 togglebutton" style="padding-right: 0px;top: 10px;left: 40px;">
                        	    <label><input type="checkbox" id="modal_edit_flag_active"  checked="checked" /><span class="toggle" /></label>
                        		<input type="hidden" class="form-control "   id="modal_edit_flagActive" style="color: #2196f3;font-size: 16px;" />
                        	</div>
                        	<div class="col-sm-6" style="font-size: 18px;top: 6px;padding-left: 3px;">
                        		<label style="color: #ffffff;"><jsp:text/></label>
                        	</div>
                        </div>
                        <div class="form-group">
                        	<div class="control-label col-sm-3" style="top: 13px;">
                        		<label style="color: #009688;" >${LABEL_CODE } </label><label style="color: #ea4f83;font-size: 15px;margin-left: 3px;margin-top: 0px;padding-top: 0px;">*</label>
                        	</div>
                        	<div class="col-sm-8" style="padding-right: 3px;">
                        		<input type="text" class="form-control "  id="modal_edit_code" style="color: #2196f3;font-size: 16px;" />
                        	</div>
                        	<div class="col-sm-1" style="font-size: 18px;top: 6px;padding-left: 3px;">
                        		<label style="color: #ffffff;"><jsp:text/></label>
                        	</div>
                        </div>
                        <div class="form-group">
                        	<div class="control-label col-sm-3" style="top: 13px;">
                        		<label style="color: #009688;" >${LABEL_NAME } </label><label style="color: #ea4f83;font-size: 15px;margin-left: 3px;margin-top: 0px;padding-top: 0px;">*</label>
                        	</div>
                        	<div class="col-sm-8" style="padding-right: 3px;">
                        		<input type="text" class="form-control "  id="modal_edit_name" style="color: #2196f3;font-size: 16px;" />
                        	</div>
                        	<div class="col-sm-1" style="font-size: 18px;top: 6px;padding-left: 3px;">
                        		<label style="color: #ffffff;"><jsp:text/></label>
                        	</div>
                        </div>
                        <div class="form-group">
                        	<div class="control-label col-sm-3" style="top: 13px;">
                        		<label style="color: #009688;" >${ LABEL_ORG_CODE } </label>
                        	</div>
                        	<div class="col-sm-8" style="padding-right: 3px;">
                        		<input type="text" class="form-control "  id="modal_edit_orgCode" style="color: #2196f3;font-size: 16px;" />
                        	</div>
                        	<div class="col-sm-1" style="font-size: 18px;top: 6px;padding-left: 3px;">
                        		<label style="color: #ffffff;"><jsp:text/></label>
                        	</div>
                        </div>
                        
                        <div class="form-group">
                        	<div class="control-label col-sm-3" style="top: 13px;padding-right: 0px;">
                        		<label style="color: #009688;font-size: 15px;">${LABEL_DESCRIPTION }</label>
                        	</div>
                        	<div class="col-sm-9" style="padding-top: 10px;" >
                        		<textarea rows="2" cols="32" class="form-control"  id="modal_edit_description"  style="color: #2196f3;font-size: 16px;" ><jsp:text/></textarea>
                        	</div>
                        </div>
	
			</div>
        </div>
      </div>
      <div class="modal-footer" style="margin-top: 20px;">
        <button type="button" class="btn btn-danger" data-dismiss="modal">${BUTTON_CLOSE } <span  aria-hidden="true" class="fa fa-remove"><jsp:text/></span></button>
        <button type="button" class="btn btn-primary" id="editItemModalSave" >${BUTTON_SAVE } <span  aria-hidden="true" class="fa fa-save"><jsp:text/></span></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" style="z-index: 1060">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: rgba(255, 226, 0, 0.94);" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  aria-hidden="true" class="fa fa-remove"><jsp:text/></span></button>
        <h3 class="modal-title" >${LABEL_WARNING } <span class="fa fa-warning"><jsp:text/></span></h3>
      </div>
      <div class="modal-body">
      <jsp:text/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">${BUTTON_CLOSE } <span  aria-hidden="true" class="fa fa-remove"><jsp:text/></span></button>
       </div>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteItemModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: rgba(244, 67, 54, 0.84);" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  aria-hidden="true" class="fa fa-remove"><jsp:text/></span></button>
        <h3 class="modal-title" >${ LABEL_DANGER}  <span class="fa fa-warning"><jsp:text/></span></h3>
      </div>
      <div class="modal-body">
        <label >${MESSAGE_CONFIRM_TO_DELETE} </label><span  aria-hidden="true" class="fa fa-quote-left"   style="margin-left: 10px;margin-right: 10px;"><jsp:text/></span> <label id="codeItemDelete" ><jsp:text/></label> <span  aria-hidden="true" class="fa fa-quote-right"  style="margin-left: 10px;margin-right: 10px;" ><jsp:text/></span>
      </div>
      <div class="modal-footer">
        <input type="hidden" id="idItemDelete" /> 
        <button type="button" class="btn btn-material-grey-700" data-dismiss="modal">${BUTTON_CANCEL}  <span  aria-hidden="true" class="fa fa-remove"><jsp:text/></span></button>
        <button type="button" class="btn btn-success" onclick="deleteFunction($('#idItemDelete').val())">${BUTTON_CONFIRM}  <span  aria-hidden="true" class="fa fa-check"><jsp:text/></span></button>
      </div>
    </div>
  </div>
</div>






</div>